.boot-card{
  height: 400px;
  cursor: pointer;
}

.boot-card-img{
  object-fit: contain;
}

.back-button{
  cursor: pointer;
}

.cart-card{

}

.cart-back{
  cursor: pointer;
}

.cart-img{
  width: 200px;
  object-fit: contain;
}
